@font-face {
    font-family: 'KN';
    src: url(/src/assets/fonts/Kanit-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'AB';
    src: url(/src/assets/fonts/BrunoAce-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'QT';
    src: url(/src/assets/fonts/Questrial-Regular.ttf) format('truetype');
}