.like {
    margin-bottom: 130px;
   &_page {
        
    &_ah {
        font-family: 'AB';
font-size: 18px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #121211;


    }
    &_al {
        font-family: 'QT';
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color:#030A8C ;

    }
} 
}

