.nav {
    display: flex;
    align-items: center;
    padding: 50px 0;
    justify-content: space-between;
    &_menu {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        
        &_list {           
               
              
            &_item {
                font-family: Questrial;
                font-size: 18px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                color: #121211;
                position: relative;
                transition: 0.3s;
            }
            &_item::before {
                content: '';
                position: absolute;
                bottom: -44px;
                left: 50%;
                width: 0%;
                height: 2px;
                background: #030A8C;
                transform: translateX(-50%);
                transition: 0.3s;
            }
                &_item:hover.nav_menu_list_item::before {
                width: 100%;
            }
       }
    }
    &_btt {
        display: flex;
        align-items: center;
        &_button {
        font-family: 'AB';
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
color: #FFFFFF;
padding: 14px 45px;
background: #030A8C;
margin-left: 50px;
transition: 0.3s;
    }
   
    }
         
    &_button:hover {
        background: #FFFFFF;
        color: #030A8C;
        
    }
    }
    
    


