.product {
    
    &_page {
        
        &_ah {
            font-family: 'AB';
font-size: 18px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #121211;


        }
        &_ap {
            font-family: 'QT';
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color:#030A8C ;

        }
    }
    &_wrap {
        display: flex;
        margin-top: 75px;
        gap: 30px;
        &_img {
            display: flex;
            gap: 74px;
            
            &_vidi {
                width: 110px;
                height: 645px;
            }
        }
        &_info {
            
            &_h1 {
                font-family: 'QT';
                font-size: 25px;
                font-weight: 400;
                line-height: 38px;
                letter-spacing: 0em;
                text-align: left;
                color: #121211;
            }
            &_bts {
                display: flex;
                gap: 50px;
                align-items: center;
                margin-top: 40px;
                &_p1 {
                    font-family: 'QT';
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #030A8C;
                }
                &_p {
                    font-family: 'QT';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #121211;
                }
            }
            &_h2 {
                font-family: 'QT';
                font-size: 25px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: #030A8C;
                margin-top: 60px;
                margin-bottom: 30px;
            }
            &_pr {
                font-family: 'QT';
                font-size: 18px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #3D3D3D;
                margin-bottom: 15px;
                
            }
        }
    }
}

.Models {
    display: flex;
    align-items: center;
    gap: 30px;
    &__small {
        display: grid;
    align-items: center;
    gap: 30px;
    &__imagess {
        max-width: 110px;
        width: 100%;
        height: 110px;
        
        & img {
            padding: 10px;
        }
    }
    }
    &_product {
        & img {
            width: 440px;
            padding: 100px 40px;
        }
         
    }
    &__info {
        display: flex;
        flex-direction: column;
        margin-left: 71px;
    
            &-title {
                font-family: "QT";
font-size: 25px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
 color: #121211;
            }
            &-price {
                color: #030a8c;
      font-family: 'KN';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 8px;
            }
            &-title2 {
                font-family: "QT";
font-size: 25px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
 color: #030A8C;
            }
            &-leor {
                font-family: 'QT';
font-size: 18px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #3D3D3D;

            }
            &_bask {
                display: flex;
                align-items: center;
                
                &_btns {
                    margin-top: 100px;
                    display: flex;
                     align-items: center;
                     &_btn {
                        background: #eaeaea;
                        width: 33px;
                        height: 38px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                         &_count {
                        color: #3d3d3d;
                        font-family: 'KN';
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 10px;
                        margin-right: 23px;
                        margin-left: 23px;
                    }
                    }
                   
                     }
                }
            }
        } 
.btn {
    &__log {
        font-family: 'AB';
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        color: #FFFFFF;
        padding: 14px 45px;
        background: #030A8C;
        transition: 0.3s;
    }
    &__log:hover {
        background: #FFFFFF;
        color: #030A8C;
    }
}

.images {
    width: 110px;
    cursor: pointer;
  }
  
  .small__images {
    flex-direction: column;
    margin-top: 40px;
    display: flex;
    gap: 29px;
    margin-right: 70px;
  }